.nav{
    li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;

        a{
            font-size: 1.3em;
            color: var(--surface-500);
            cursor: pointer;

            &:hover {
                color: var(--orange-400);
            }
        }
    }
}